.dark-mode {
  --light-1: #3b4252;
  --light-2: #2e3440;
  --kb-link-color: #ff776d;
  --kb-tree-cur-color: var(--dark-3);
  --kb-font-family: 'Avenir', -apple-system, sans-serif;
  --kb-shadow-bg: rgba(0, 0, 0, 0.2);
  --kb-text-color: #eceff4;
  --kb-text-inverse-color: white;
  --kb-references-bg:  #fafafa;
  --kb-search-highlight-bg: #eaeaea;
  --kb-separator-color: #ddd;
}
