/* ---------------- prism override ---------------------- */
pre[class*='language-'] {
  margin: 1em 0;
}

.dark-mode pre[class*='language-'] {
  background-color: #121212;
}

.light-mode pre[class*='language-'] {
  background-color: #121212;
}

/* ----------------end prism override ------------------- */

code {
  font-size: 0.9em;
}

.copied {
  color: #fff;
  background: #000;
  padding: 8px 5px;
  border-radius: 5px;
  display: flex;
  width: fit-content;
  align-items: flex-start;
  text-align: center;
  transition: all 0.5s;
}
