.topic-layout {
  @apply bg-gray-50;
}

.topic-layout__main {
  max-width: 960px;
  @apply p-5;
}

.topic-layout__left {
  width: 280px;
  @apply bg-gray-100;
}

.topic-layout__right {
  overflow-x: hidden;
  width: 280px;
}

.topic-layout__left,
.topic-layout__right {
  height: 100vh;
  overflow-y: auto;
}

.topic-layout .tocbot {
  margin-top: 10px;
}