.topic-layout {
  background-color: var(--kb-note-bg);
}

.topic-layout__main {
  max-width: 960px;
}

.topic-layout__left {
  width: 280px;
  background-color: var(--light-2);
}

.topic-layout__right {
  overflow-x: hidden;
  width: 280px;
}

.topic-layout__left,
.topic-layout__right {
  height: 100vh;
  overflow-y: auto;
}

.topic-layout .tocbot {
  margin-top: 20px;
}
