/* This is based off a codepen! Much appreciated to: https://codepen.io/aaroniker/pen/KGpXZo */
.dark-mode-toggle {
  cursor: pointer;
  display: flex;
}
.dark-mode-toggle input {
  display: none;
}
.dark-mode-toggle input + div {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  box-shadow: inset 5px -5px 0 0 #fff;
  transform: scale(1) rotate(-2deg);
  transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
}
.dark-mode-toggle input + div:before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  transition: background 0.3s ease;
}
.dark-mode-toggle input + div:after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: -2px 0 0 -2px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 -11px 0 var(--kb-text-color), 0 11px 0 var(--kb-text-color), 11px 0 0 var(--kb-text-color),
    -11px 0 0 var(--kb-text-color), 8px 8px 0 var(--kb-text-color), -8px 8px 0 var(--kb-text-color),
    8px -8px 0 var(--kb-text-color), -8px -8px 0 var(--kb-text-color);
  transform: scale(0);
  transition: all 0.3s ease;
}

.dark-mode-toggle input:checked + div {
  box-shadow: inset 32px -32px 0 0 #fff;
  transform: scale(0.5) rotate(0deg);
  transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;
}
.dark-mode-toggle input:checked + :before {
  background: var(--kb-text-color);
  transition: background 0.3s ease 0.1s;
}
.dark-mode-toggle input:checked + :after {
  transform: scale(1.5);
  transition: transform 0.5s ease 0.15s;
}
.dark-mode-toggle__hint {
  margin-left: 5px;
}