.site-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.site-sidebar__title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: large;
}

.site-sidebar__title a {
  color: var(--kb-text-color);
}

.site-sidebar__title a:hover {
  color: var(--kb-link-color);
}

.site-sidebar__link {
  color: var(--kb-text-color);
  display: block;
}

.site-sidebar__link:hover {
  color: var(--kb-link-color);
}

.site-sidebar__link--cur {
  background-color: var(--kb-tree-cur-color);
}

.site-sidebar__files {
  overflow-y: auto;
}

.site-sidebar__search {
  margin: 5px 15px 15px 0;
}
